[Unit]
Description=DBBackup daily backup timer
Requires=dbbackup.service

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true
Unit=dbbackup.service

[Install]
WantedBy=timers.target
